<!DOCTYPE html>

<html>

<head>

    <title>String Matching</title>

</head>

<body>

    <h1>String Matching</h1>

    <form action="http://localhost:5000/string-matching" method="POST">

        <label for="input1">Input 1:</label>

        <input type="text" id="input1" name="input1"><br><br>

       

        <label for="input2">Input 2:</label>

        <input type="text" id="input2" name="input2"><br><br>

       

        <input type="submit" value="Calculate Similarity">

    </form>

</body>

</html>




 
